{% extends 'base.html.twig' %}

{% block title %}Edit Papers{% endblock %}

{% block body %}
    <h1>Edit Papers</h1>

    {{ include('papers/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_papers_index') }}">back to list</a>

    {{ include('papers/_delete_form.html.twig') }}
{% endblock %}
