{% extends "base.html.twig" %}

{% block body %}

<h2 class="p-4 text-4xl text-red-700">{{ teacher.id}} ~ {{ teacher.name }} delete the record </h2> </br>
{# <h2 class="p-4 text-4xl text-red-700"> {{ teacher.father_name }}</h2> </br> #}

{% endblock %}