{% extends "base.html.twig" %}

{% block body %}
<h2>Welcome to the twig symfon Mr {{name}}</h2>
<img src="{{asset('images/1.jpeg')}}" />
<a href ="/inform">inform</a>
<a href ="{{path('inform')}}">inform-2</a>
<a href ="{{path('inform')}}">inform-3</a>
{% endblock %}