{% extends 'base.html.twig' %}

{% block title %}New Passport{% endblock %}

{% block body %}
    <h1>Create new Passport</h1>

    {{ include('passport/_form.html.twig') }}

    <a href="{{ path('app_passport_index') }}">back to list</a>
{% endblock %}
